.skeleton {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  overflow: hidden;

  &.rounded {
    border-radius: 1rem;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      90deg,
      transparent 10%,
      #fff 50%,
      transparent 100%
    );
    background-size: 100%;
    animation: shimmer 0.8s infinite linear;
    content: "";
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
