@mixin centerize($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin card($padding: 1rem) {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: $padding;
}
